/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  background-position: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
@-ms-viewport {
  width: device-width;
}
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
select::-ms-expand {
  display: none;
}
*:focus {
  outline: none;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.hide {
  display: none;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  color: #01579b;
  margin: 0;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.search-box {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  top: 0;
  left: 0;
  right: 0;
}
.search {
  float: left;
  width: 90%;
  position: relative;
}
.search input[type="text"] {
  margin: 0;
  border-radius: 10px;
  border: none;
  height: 2.4rem;
  color: #fff;
  padding: 0 10px 0 40px;
}
.search-results {
  position: fixed;
  top: 54px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
}
.back {
  float: left;
  width: 10%;
  padding-top: 5px;
}
.back svg {
  fill: #fff;
  width: 20px;
  height: auto;
}
.close-text {
  display: none;
  float: right;
}
.close-text a {
  font-weight: bold;
  color: #01579b;
  position: relative;
  top: 5px;
  padding: 12px 2px;
}
.search__icon {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #fff;
}
.search-box--full .search {
  width: 100%;
}
.search-box--full .back {
  display: none;
}
.search-box--searchform .search {
  width: 85%;
}
.search-box--searchform .close-text {
  display: block;
}
.search-box--searchform .back {
  display: none;
}
.nav {
  position: fixed;
  z-index: 100;
  bottom: 0;
  height: 60px;
  text-align: center;
}
.nav ul li {
  width: 25%;
}
.nav ul li:first-child {
  border-left: 0;
}
.nav ul li svg {
  width: 30px;
  height: auto;
  fill: #fff;
}
.nav ul li a {
  height: 60px;
}
.nav ul .active svg {
  fill: #01579b;
}
.section {
  padding: 55px 0 70px;
}
.title {
  display: block;
  margin: 20px 0;
}
.title h2 {
  float: left;
  font-size: 24px;
  margin: 0;
  color: #000;
}
.title svg {
  float: right;
  width: auto;
  height: 24px;
}
.arrow-right {
  float: right;
  width: auto;
  height: 24px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.arrow-left {
  float: left;
  width: auto;
  height: 24px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.movie-box {
  display: block;
  padding: 10px 0;
  position: relative;
}
.movie-box img {
  float: left;
  max-height: 70px;
}
.movie-box h3 {
  font-size: 20px;
  margin: 0;
  padding: 5px 0 0 65px;
  color: #000;
}
.movie-box h4 {
  margin: 0;
  padding: 5px 0 0 65px;
  font-size: 14px;
  color: #aaa;
}
.movie-box .arrow-right {
  position: absolute;
  top: 35px;
  right: 0;
}
.movie-box .dots {
  margin: 5px 0 0 65px;
}
.cinema-box {
  display: block;
  padding: 10px 0;
  position: relative;
}
.cinema-box img {
  float: left;
  max-height: 70px;
}
.cinema-box h3 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0 0 65px;
  color: #000;
}
.cinema-box h4 {
  margin: 0;
  padding: 5px 0 0 65px;
  font-size: 14px;
  color: #aaa;
}
.cinema-box .distance {
  position: absolute;
  right: 25px;
  top: 40px;
  color: #000;
  font-size: 11px;
}
.cinema-box .arrow-right {
  position: absolute;
  top: 35px;
  right: 0;
}
.cinema-box .dots {
  margin: 5px 0 0 65px;
}
.type {
  margin: 20px 0;
  border: 2px solid #01579b;
  width: 100%;
  font-size: 0;
  text-align: center;
}
.type li {
  display: inline-block;
  width: 50%;
  font-size: 12px;
}
.type li a {
  display: block;
  padding: 3px 0;
  color: #01579b;
}
.type li:first-child {
  border-right: 2px solid #01579b;
}
.type li.active {
  background: #01579b;
}
.type li.active a {
  color: #fff;
}
.type-cinemas-list {
  display: none;
}
.settings .btn {
  padding: 0;
  width: 100%;
}
.logout {
  display: block;
  margin: 10px 0;
  text-align: center;
  color: #0D47A1;
}
.settings-genre {
  margin-bottom: 10px;
}
.settings-genre .btn {
  max-width: 80%;
}
.settings-genre svg {
  width: 30px;
  float: right;
}
.settings-genre:after {
  content: " ";
  display: table;
  clear: both;
}
.videoWrapper {
  margin-top: 20px;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movie-title h2 {
  color: #01579b;
  margin-bottom: 10px;
}
.movie-title h3 {
  color: #888;
  font-size: 13px;
  padding-bottom: 10px;
}
.movie-title p {
  color: #000;
}
.movie-bottom {
  padding: 20px 0;
}
.movie-bottom > div {
  float: left;
  width: 30%;
}
.movie-bottom > div:last-child {
  width: 70%;
  text-align: right;
}
.movie-bottom svg {
  max-width: 30px;
  height: auto;
}
.movie-bottom .rating {
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}
.container-map {
  display: none;
}
.cinema {
  padding: 20px 0;
}
.cinema .cinema-img {
  float: left;
  width: 25%;
}
.cinema .cinema-title {
  float: right;
  width: 75%;
  padding-left: 20px;
}
.cinema .cinema-title h2 {
  margin: 10px 0 0;
}
.cinema .cinema-title .text {
  padding: 10px 0;
}
.cinema .cinema-title .pin {
  font-weight: bold;
}
.cinema .cinema-title .pin svg {
  max-width: 20px;
}
.cinema-buttons {
  padding-bottom: 30px;
}
.cinema-buttons .btn {
  width: 40%;
  padding: 0;
}
.cinema-buttons svg {
  max-width: 30px;
  height: auto;
  float: right;
}
.cinema-date {
  background: #01579b;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.cinema-date .arrow-right,
.cinema-date .arrow-left {
  fill: #fff;
}
.projection-cinema h2 {
  margin-bottom: 0;
}
.projection-movie {
  background: #01579b;
  padding: 10px 20px;
  margin: 20px 0;
  color: #fff;
  text-align: center;
  position: relative;
}
.projection-movie h3 {
  color: #fff;
  font-weight: bold;
  display: block;
}
.projection-movie span {
  font-size: 12px;
  display: inline-block;
}
.projection-movie .projection-title {
  float: left;
}
.projection-movie .arrow-right,
.projection-movie .arrow-left {
  fill: #fff;
  position: absolute;
  top: 20px;
}
.projection-movie .arrow-right {
  right: 20px;
}
.projection-movie .arrow-left {
  left: 20px;
}
.projection {
  background: #e3f2fd;
  padding: 15px 5%;
  margin-bottom: 10px;
}
.projection-box .projection-box-img {
  width: 25%;
  float: left;
}
.projection-box svg {
  width: 60px;
  height: auto;
}
.projection-box .projection-box-text {
  width: 75%;
  float: right;
  padding-top: 5px;
}
.projection-box .projection-box-text time {
  display: table;
  font-size: 18px;
  font-weight: bold;
}
.projection-box-buttons {
  display: block;
  width: 100%;
  padding-top: 20px;
}
.projection-box-buttons .btn {
  padding: 0 10px;
}
.projection-box-buttons .btn:first-child {
  width: 68%;
}
.projection-box-buttons .btn:last-child {
  width: 30%;
}
.trashcan svg path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  d: path('M63.119 250.254s3.999 18.222 24.583 18.222h93.072c20.583 0 24.582-18.222 24.582-18.222l18.374-178.66H44.746l18.373 178.66zM170.035 98.442a8.948 8.948 0 0 1 8.949-8.949 8.95 8.95 0 0 1 8.95 8.949l-8.95 134.238a8.949 8.949 0 1 1-17.898 0l8.949-134.238zm-44.746 0a8.949 8.949 0 0 1 8.949-8.949 8.948 8.948 0 0 1 8.949 8.949V232.68a8.948 8.948 0 0 1-8.949 8.949 8.949 8.949 0 0 1-8.949-8.949V98.442zm-35.797-8.95a8.948 8.948 0 0 1 8.949 8.949l8.95 134.238a8.95 8.95 0 0 1-17.899 0L80.543 98.442a8.95 8.95 0 0 1 8.949-8.95zM218.36 35.811h-39.376V17.899C178.984 4.322 174.593 0 161.086 0H107.39C95.001 0 89.492 6.001 89.492 17.899v17.913H50.116c-7.914 0-14.319 6.007-14.319 13.43 0 7.424 6.405 13.431 14.319 13.431H218.36c7.914 0 14.319-6.007 14.319-13.431 0-7.423-6.405-13.431-14.319-13.431zm-57.274 0h-53.695l.001-17.913h53.695v17.913z');
}
.dots {
  height: 10px;
}
.dot {
  font-size: 0.9em;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding: 0px 5px 0px 5px !important;
}
