/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @mainColor: #01579b;
 @lightBlue: #29b6f6;

 * {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}


*:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@-ms-viewport {
    width: device-width;
}

@media (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}

select::-ms-expand {
    display: none;
}

*:focus {
    outline: none;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.hide {
	display: none;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	color: @mainColor;
	margin: 0;
}

.icon-block {
  padding: 0 15px;
  .material-icons {
		font-size: inherit;
	}
}

.search-box {
	position: fixed;
	z-index: 100;
	padding: 10px 20px;
	top: 0;
	left: 0;
	right: 0;
}

.search {
	float: left;
	width: 90%;
	position: relative;
	input[type="text"] {
		margin: 0;
		border-radius: 10px;
		border: none;
		height: 2.4rem;
		color: #fff;
		padding: 0 10px 0 40px;
	}
}

.search-results {
	position: fixed;
	top: 54px;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.95);
}

.back {
	float: left;
	width: 10%;
	padding-top: 5px;
	svg {
		fill: #fff;
		width: 20px;
		height: auto;
	}
}

.close-text {
	display: none;
	float: right;
	a {
		font-weight: bold;
		color: @mainColor;
		position: relative;
		top: 5px;
		padding: 12px 2px;
	}
}

.search__icon {
	position: absolute;
	top: 5px;
	left: 10px;
	color: #fff;
}

.search-box--full { 
	.search {
		width: 100%;
	}
	.back {
		display: none;
	}
}

.search-box--searchform {
	.search {
		width: 85%;
	}
	.close-text {
		display: block;
	}
	.back {
		display: none;
	}
}

.nav {
	position: fixed;
	z-index: 100;
	bottom: 0;
	height: 60px;
	text-align: center;
	ul {
		li {
			width: 25%;
			&:first-child {
				border-left: 0;
			}
			svg {
				width: 30px;
				height: auto;
				fill: #fff;
			}
			a {
				height: 60px;
			}
		}
		.active {
			svg {
				fill: @mainColor;
			}
		}
	}
}



.section {
	padding: 55px 0 70px;
}

.title {
	display: block;
	margin: 20px 0;
	h2 {
		float: left;
		font-size: 24px;
		margin: 0;
		color: #000;
	}

	svg {
		float: right;
		width: auto;
		height: 24px;
	}
}

.arrow-right {
	float: right;
	width: auto;
	height: 24px;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.arrow-left {
	float: left;
	width: auto;
	height: 24px;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.movie-box {
	display: block;
	padding: 10px 0;
	position: relative;
	img {
		float: left;
		max-height: 70px;
	}

	h3 {
		font-size: 20px;
		margin: 0;
		padding: 5px 0 0 65px;
		color: #000;
	}
	h4 {
		 margin: 0;
		 padding: 5px 0 0 65px;
		 font-size: 14px;
		 color: #aaa;
	 }
	.arrow-right {
		position: absolute;
		top: 35px;
		right: 0;
	}
	.dots {
		margin: 5px 0 0 65px;
	}
}

.cinema-box {
	display: block;
	padding: 10px 0;
	position: relative;
	img {
		float: left;
		max-height: 70px;
	}

	h3 {
		font-size: 20px;
		margin: 0;
		padding: 10px 0 0 65px;
		color: #000;
	}
	h4 {
		margin: 0;
		padding: 5px 0 0 65px;
		font-size: 14px;
		color: #aaa;
	}
	.distance {
		position: absolute;
		right: 25px;
		top: 40px;
		color: #000;
		font-size: 11px;
	}
	.arrow-right {
		position: absolute;
		top: 35px;
		right: 0;
	}
	.dots {
		margin: 5px 0 0 65px;
	}
}

.type {
	margin: 20px 0;
	border: 2px solid @mainColor;
	width: 100%;
	font-size: 0;
	text-align: center;
	li {
		display: inline-block;
		width: 50%;
		font-size: 12px;
		a {
			display: block;
			padding: 3px 0;
			color: @mainColor;
		}
		&:first-child {
			border-right: 2px solid @mainColor;
		}
		&.active {
			background: @mainColor;
			a {
				color: #fff;
			}
		}
	}
}

.type-cinemas-list {
	display: none;
}

.settings {
	.btn {
		padding: 0;
		width: 100%;
	}
}

.logout {
	display: block;
	margin: 10px 0;
	text-align: center;
	color: #0D47A1;
}

.settings-genre {
	margin-bottom: 10px;
	.btn {
		max-width: 80%;
	}
	svg {
		width: 30px;
		float: right;
	}
	&:after {
	    content:" ";
	    display:table;
	    clear:both;
	}
}

.videoWrapper {
	margin-top: 20px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.movie-title {
	h2 {
		color: @mainColor;
		margin-bottom: 10px;
	}
	h3 {
		color: #888;
		font-size: 13px;
		padding-bottom: 10px;
	}
	p {
		color: #000;
	}
}

.movie-bottom {
	padding: 20px 0;
	> div {
		float: left;
		width: 30%;
		&:last-child {
			width: 70%;
			text-align: right;
		}
	}
	svg {
		max-width: 30px;
		height: auto;
	}
	.rating {
		font-weight: bold;
		padding-left: 10px;
		font-size: 20px;
	}
}

.container-map {
	display: none;
}

.cinema {
	padding: 20px 0;
	.cinema-img {
		float: left;
		width: 25%;
	}
	.cinema-title {
		float: right;
		width: 75%;
		padding-left: 20px;
		h2 {
			margin: 10px 0 0;
		}
		.text {
			padding: 10px 0;
		}
		.pin {
			font-weight: bold;
			svg {
				max-width: 20px;
			}
		}
	}
}

.cinema-buttons {
	padding-bottom: 30px;
	.btn {
		width: 40%;
		padding: 0;
	}
	svg {
		max-width: 30px;
		height: auto;
		float: right;
	}
}

.cinema-date {
	background: @mainColor;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
	margin-bottom: 10px;
	.arrow-right,
	.arrow-left {
		fill: #fff;
	}
}

.projection-cinema {

	h2 {
		margin-bottom: 0;
	}
}

.projection-movie {
	background: @mainColor;
	padding: 10px 20px;
	margin: 20px 0;
	color: #fff;
	text-align: center;
	position: relative;
	h3 {
		color: #fff;
		font-weight: bold;
		display: block;
	}
	span {
		font-size: 12px;
		display: inline-block;
	}
	.projection-title {
		float: left;
	}
	.arrow-right,
	.arrow-left {
		fill: #fff;
		position: absolute;
		top: 20px;
	}
	.arrow-right {
		right: 20px;
	}
	.arrow-left {
		left: 20px;
	}
}

.projection {
	background: #e3f2fd;
	padding: 15px 5%;
	margin-bottom: 10px;
}

.projection-box {
	.projection-box-img {
		width: 25%;
		float: left;
	}
	svg {
		width: 60px;
		height: auto;
	}
	.projection-box-text {
		width: 75%;
		float: right;
		padding-top: 5px;
		time {
			display: table;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.projection-box-buttons {
	display: block;
	width: 100%;
	padding-top: 20px;
	.btn {
		padding: 0 10px;
		&:first-child {
			width: 68%;
		}
		&:last-child {
			width: 30%;
		}
	}
}

.trashcan {
	svg {
		path {
			fill-rule: evenodd;
			clip-rule: evenodd;
			d: path('M63.119 250.254s3.999 18.222 24.583 18.222h93.072c20.583 0 24.582-18.222 24.582-18.222l18.374-178.66H44.746l18.373 178.66zM170.035 98.442a8.948 8.948 0 0 1 8.949-8.949 8.95 8.95 0 0 1 8.95 8.949l-8.95 134.238a8.949 8.949 0 1 1-17.898 0l8.949-134.238zm-44.746 0a8.949 8.949 0 0 1 8.949-8.949 8.948 8.948 0 0 1 8.949 8.949V232.68a8.948 8.948 0 0 1-8.949 8.949 8.949 8.949 0 0 1-8.949-8.949V98.442zm-35.797-8.95a8.948 8.948 0 0 1 8.949 8.949l8.95 134.238a8.95 8.95 0 0 1-17.899 0L80.543 98.442a8.95 8.95 0 0 1 8.949-8.95zM218.36 35.811h-39.376V17.899C178.984 4.322 174.593 0 161.086 0H107.39C95.001 0 89.492 6.001 89.492 17.899v17.913H50.116c-7.914 0-14.319 6.007-14.319 13.43 0 7.424 6.405 13.431 14.319 13.431H218.36c7.914 0 14.319-6.007 14.319-13.431 0-7.423-6.405-13.431-14.319-13.431zm-57.274 0h-53.695l.001-17.913h53.695v17.913z');
		}
	}
}

.dots {
    height: 10px;
}

.dot {
	font-size: 0.9em;
	border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 0px 5px 0px 5px !important;
}
